h1 {
  font-family: "Timberline";
  text-align: center;
  color: white;
  font-size: 80px;
  padding-bottom: 50px; }

h2 {
  font-family: "Sweet Sans Pro";
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding-bottom: 20px; }

body {
  width: 640px;
  margin: 0 auto;
  background-color: #82744a;
  margin-top: 50px; }

.full-img {
  position: relative;
  display: block; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  background-color: rgba(0, 0, 0, 0); }

button {
  border: 0;
  background: #0a4b84;
  text-shadow: 1px 1px 1px black;
  border: 1px solid white;
  border-radius: 40px;
  font-family: "Sweet Sans Pro";
  color: white;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px; }

.thumb-bar img {
  display: block;
  width: 20%;
  float: left;
  cursor: pointer; }
